body {
  font-family: "DM Sans", sans-serif;
  font-size: normal;
  font-weight: normal;
  font-style: normal;
  width: 90%;
  margin: auto;
  position: relative;
}

a {
  text-decoration: none;
}

.tag {
  padding: 3px;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  margin: 2px;
  padding: 3px 4px;
  color: #901C1C;
}
.tag:hover {
  background-color: #901C1C;
  color: white;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.card {
  text-align: center;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card img {
  overflow: hidden;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}
.card img:after {
  display: block;
  content: url("");
  position: absolute;
  top: calc(50% + 8px);
  left: calc(50% + 10px);
  z-index: 1;
  transform: translate(-50%, -50%);
  filter: blur(10px);
  opacity: 0.85;
}

.name {
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #D3573C;
  margin: 0;
}

.info > .location {
  color: #901C1C;
  font-size: 13px;
}
.info > .slogan {
  font-size: 10px;
  margin-top: 5px;
}
.info > .price {
  font-size: 9px;
  color: #757575;
  margin-top: 5px;
}
.info > .tagbox {
  font-size: 12px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero {
  padding: 30px;
  background-color: #FAFAFA;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.hero > .hero-button, .hero .hero-image {
  width: 30%;
}
.hero > .hero-image {
  display: flex;
  justify-content: flex-end;
}
.hero img {
  overflow: hidden;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}
.hero img:after {
  display: block;
  content: url("");
  position: absolute;
  top: calc(50% + 8px);
  left: calc(50% + 10px);
  z-index: 1;
  transform: translate(-50%, -50%);
  filter: blur(10px);
  opacity: 0.85;
}

.hero .info > .name {
  text-align: left;
}
.hero .info > .location {
  margin-bottom: 15px;
}
.hero .info > .slogan {
  margin-bottom: 15px;
}
.hero .info > .tagbox {
  justify-content: flex-start;
}

.btn-contact {
  background-color: darkred;
  color: white;
  font-weight: bold;
  padding: 15px 10px;
  border-radius: 10px;
  border: none;
  font-size: small;
  letter-spacing: 1px;
}

.header-index {
  height: 10%;
  width: 70%;
  position: absolute;
}
@media screen and (max-width: 670px) {
  .header-index {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

#contenu {
  width: 160px;
  padding: 1px;
  background: #DB8876;
  border-radius: 5px;
  font-weight: bold;
  line-height: 23px;
  text-align: center;
  display: none;
}

.header-elements {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
@media screen and (max-width: 1015px) {
  .header-elements {
    margin-top: 0;
  }
}
@media screen and (max-width: 670px) {
  .header-elements {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    margin-top: 10px;
  }
}

.logo {
  width: 30%;
  display: flex;
}
.logo img {
  width: 150px;
}
@media screen and (max-width: 1015px) {
  .logo img {
    width: 70%;
  }
}
@media screen and (max-width: 670px) {
  .logo img {
    width: 110px;
    margin: 25PX 0 30PX 10PX;
  }
}
@media screen and (max-width: 375px) {
  .logo img {
    width: 100%;
  }
}

nav {
  width: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
nav a {
  color: #901C1C;
}
@media screen and (max-width: 1015px) {
  nav {
    margin-right: 5%;
  }
}
@media screen and (max-width: 670px) {
  nav {
    width: 100%;
  }
}

.header-photographer-page {
  width: 100%;
  margin: 20px 0;
}
.header-photographer-page img {
  width: 150px;
}

.nos-photographes {
  font-weight: normal;
  font-size: 28px;
  line-height: 47px;
  color: #901C1C;
  text-align: right;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 10px 0 0;
}
@media screen and (max-width: 1015px) {
  .nos-photographes {
    height: 130px;
    font-size: 22px;
  }
}
@media screen and (max-width: 670px) {
  .nos-photographes {
    height: 100px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 375px) {
  .nos-photographes {
    height: 90px;
    margin-bottom: 70px;
    font-size: 16px;
  }
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
section .card {
  width: 33%;
}
@media screen and (max-width: 1015px) {
  section .card {
    width: 50%;
  }
}
@media screen and (max-width: 670px) {
  section .card {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
