header{
    height: 10%;
    width: 65%;
    position: absolute;
}

#contenu{
    width: 160px;
    padding: 1px;
    background: $colour-secondary-coral;
    border-radius: 5px;
    font-weight: bold;
    line-height: 23px;
    text-align: center;
    display: none;
}

.header-elements{
    display: flex;
    height: 100%;
    align-items: center;
    margin-top: 10px;
    
}

.logo{
    width: 30%;
    display: flex;
    img{
        width: 60%;
    }
}

nav{
    width: 65%;
    text-align: center;
    & ul{
        padding-inline-start: 0px;
        & li{
            list-style-type: none;
            display: inline;
            margin-right: 10px;
        }
    }
}