.btn-contact {
    background-color: darkred;
    color: white;
    font-weight: bold;
    padding: 15px 10px;
    border-radius: 10px;
    border: none;
    font-size: small;
    letter-spacing: 1px;
}