.hero{
    text-align: center;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & img{
    overflow: hidden;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    z-index: 2;
        &:after{
            display:block;
            content:url(""); // portrait
            position:absolute;
            top: calc(50% + 8px);
            left: calc(50% + 10px);
            z-index: 1; 
            transform: translate(-50%, -50%);
            filter: blur(10px);
            opacity: 0.85;
        }
    }
}

.hero-info{
    &__location{
        color: $colour-primary-red;
        font-size: 13px;
    }
    &__slogan{
        font-size: 10px;
        margin-top: $margin-top-hero;
    }
    &__price{
        font-size: 9px;
        color: #757575;
        margin-top: $margin-top-hero;
    }
    &__tagbox{
        font-size: 12px;
        margin-top: $margin-top-hero-tagbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        & a{
            color: $colour-primary-red;
        }
    }
}