.media-card{
    margin: 10px;
    & img, .media-video{
        width: 350px;
        height: 300px;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
    }
}


.media-card_info{
    width: 100%;
    display: flex;
    margin-top: 5px;
    font-size: 14px;
    color: $colour-primary-red;
    &__text{
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    &__heart{
        width: 20%;
        text-align: right;
    }
}