.tag {
    padding: 3px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 11px;
    margin: 2px;
    padding: 3px 4px;
    color: $colour-primary-red;
    &.active {
        background-color: $colour-primary-red;
        color: white;
    }
    &:hover {
        background-color: $colour-primary-red;
        color: white;
    }
}

.sr-only{
    border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
			clip-path: inset(50%) !important;
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}